{% extends 'base.html' %}
{% load static %}


{% block content %}
<style>
    .hidden {
        display: none;
    }

    @import url(https://fonts.googleapis.com/css?family=Raleway);

    .table-wrapper {
        overflow-x: auto;
        display: flex;
        margin-left: auto;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1em;
        margin-right: auto
    }

    caption {
        text-align: left;
        color: #28afc7;
    }

    table,
    th,
    td {
        border: 1px solid #28afc7;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #28afc7;
        color: white;
    }

    button.add-button,
    button.remove-button {
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        display: inline;
        width: 35px;
        height: 35px;
    }

    button.add-button {
        background-color: #28afc7;
        color: #ffe6b4;
    }

    button.remove-button {
        background-color: #ff8080;
        color: #ffe6b4;
    }

    div.div-bottoni {
        display: inline-block;
        padding: 1.5rem 1rem;
        vertical-align: middle;
    }

    .list-choice {
        width: 300px;
        margin: 1em auto;
        position: relative;
        cursor: pointer;
    }

    .list-choice input[type="radio"] {
        position: absolute;
        left: -9999px;
    }

    .list-choice-title {
        width: 100%;
        display: block;
        background: #28afc7;
        text-align: center;
        padding: 0.55em 1em;
        box-sizing: border-box;
        color: #FFF;
        text-shadow: 0 1px 0 #CACACA;
        border-radius: 0.2em;
    }

    .list-choice:hover .list-choice-title {
        border-radius: 0.2em 0.2em 0 0;
    }

    .list-choice-objects label:nth-last-of-type(1) span {
        border-radius: 0 0 0.2em 0.2em;
    }

    .list-choice input[type="radio"]+span {
        color: #FFF;
        background: #28afc7;
        padding: 0.55em 1em;
        display: block;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;
    }

    .list-choice-objects {
        position: absolute;
        top: 0;
        padding-top: 2.1em;
        box-sizing: border-box;
        width: 100%;
        overflow: hidden;
        max-height: 0;
        transition: all 500ms ease;
    }

    .list-choice:hover .list-choice-objects input[type="radio"]+span {
        position: relative;
        top: 0;
        transition: all 250ms ease-in-out;
    }

    .list-choice:hover input[type="radio"]+span:hover {
        background: #BBB;
    }

    .list-choice:hover input[type="radio"]:checked+span:hover {
        background: #74D68E;
    }

    .list-choice input[type="radio"]:checked+span {
        position: absolute;
        top: 0em;
        border-radius: 0.2em;
    }

    .list-choice:hover input[type="radio"]:checked+span {
        border-radius: 0;
    }

    .list-choice:hover .list-choice-objects label:nth-last-of-type(1) input[type="radio"]:checked+span {
        border-radius: 0 0 0.2em 0.2em;
    }

    .list-choice:hover .list-choice-objects {
        max-height: 540px;
    }

    .lista-diete {
        width: 500px;
        padding-top: 92px;
        padding-right: 15px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<div class="w3-margin-left w3-margin-right">

    <h1>Le tue diete</h1>
    <h4>Seleziona una riga per visualizzare</h4>
    <div class="summary w3-margin-top" style="width: 100%;">
        <table>
            <tr>
                <th>Dieta</th>
                <th>Data Creazione</th>
            </tr>
            {% for d in diete %}
            <tr onclick="showDietaDetails('{{ d.id }}')" style="cursor: pointer;">
                <td>{{ d.nome }}</td>
                <td>{{ d.data|date:"d/m/Y" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2"><strong>Non ci sono diete registrate per questo paziente.</strong></td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div class="scroll-pane  w3-margin-left  w3-margin-right"
        style="display:flex;border: 1px solid white; overflow-y: auto; height: 100%; width: 100%; margin-bottom: 5%;">
        <div class="anchor-pane " id="diet" style="width:100%">
            <div id="list-choice-container" class="list-choice hidden">
                <div class="list-choice-title">Scegli un giorno</div>
                <div class="list-choice-objects">
                    <label><input type="radio" name="day" value="Lunedi" onchange="filterPasti(this)" /><span>Lunedi</span></label>
                    <label><input type="radio" name="day" value="Martedi" onchange="filterPasti(this)" /><span>Martedi</span> </label>
                    <label><input type="radio" name="day" value="Mercoledi" onchange="filterPasti(this)" /><span>Mercoledi</span> </label>
                    <label><input type="radio" name="day" value="Giovedi" onchange="filterPasti(this)" /><span>Giovedi</span> </label>
                    <label><input type="radio" name="day" value="Venerdi" onchange="filterPasti(this)" /><span>Venerdi</span> </label>
                    <label><input type="radio" name="day" value="Sabato" onchange="filterPasti(this)" /><span>Sabato</span></label>
                    <label><input type="radio" name="day" value="Domenica" onchange="filterPasti(this)" /><span>Domenica</span> </label>
                </div>
            </div>

            <div id="pasti-content  w3-margin-left  w3-margin-right">
                {% for dieta in diete %}
                <div id="dieta-{{ dieta.id }}" class="dieta-details" style="display: none;">
                    <h2>Dieta: {{ dieta.nome }} - {{ dieta.data|date:"d/m/Y" }}</h2>

                    <!-- Colazione -->
                    <div class="table-wrapper">
                        <table id="breakfast">
                            <caption>Colazione</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'C' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Spuntino Mattutino = A -->
                    <div class="table-wrapper">
                        <table id="spuntino">
                            <caption>Spuntino</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'A' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Pranzo -->
                    <div class="table-wrapper">
                        <table id="lunch">
                            <caption>Pranzo</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'P' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Spuntino Pomeridiano = B -->
                    <div class="table-wrapper">
                        <table id="merenda">
                            <caption>Merenda</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>


                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'B' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Cena -->
                    <div class="table-wrapper">
                        <table id="dinner">
                            <caption>Cena</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'S' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<script>
    function showDietaDetails(dietaId) {
        // Nascondi tutti i dettagli delle diete
        document.querySelectorAll('.dieta-details').forEach(detail => {
            detail.style.display = 'none';
        });

        // Mostra solo i dettagli della dieta selezionata
        document.getElementById(`dieta-${dietaId}`).style.display = 'block';

        // Mostra il list-choice
        document.getElementById('list-choice-container').classList.remove('hidden');
    }

    function filterPasti(selectedRadio) {
        const selectedDay = selectedRadio.value;

        // Mostra/Nascondi le righe in base al giorno selezionato
        document.querySelectorAll('.pasto-row').forEach(row => {
            const rowDay = row.dataset.giorno;
            if (selectedDay === rowDay) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    }

    // Opzionale: Mostra i dettagli della prima dieta per impostazione predefinita
    document.addEventListener('DOMContentLoaded', () => {
        const firstRow = document.querySelector('.summary table tr');
        if (firstRow) {
            firstRow.click();
        }
    });

    // Opzionale: Se vuoi che la visualizzazione iniziale mostri solo i pasti del primo giorno disponibile
    document.addEventListener('DOMContentLoaded', () => {
        const firstRadio = document.querySelector('input[name="day"]');
        if (firstRadio) {
            firstRadio.checked = true;
            filterPasti(firstRadio);
        }
    });
</script>

<script>
    function addMeal() {
        const container = document.getElementById('meals-container');
        const mealItem = document.createElement('div');
        mealItem.classList.add('meal-item');
        mealItem.innerHTML = `
        <label for="meal-name">Nome Alimento:</label>
        <input type="text" name="meal-name" required><br><br>
        <label for="meal-type">Tipo di Pasto:</label>
        <select name="meal-type" required>
            <option value="C">Colazione</option>
            <option value="P">Pranzo</option>
            <option value="S">Cena</option>
        </select><br><br>
        <label for="meal-fat">Grassi (g):</label>
        <input type="number" name="meal-fat" step="0.01" required><br><br>
        <label for="meal-protein">Proteine (g):</label>
        <input type="number" name="meal-protein" step="0.01" required><br><br>
        <label for="meal-carbs">Carboidrati (g):</label>
        <input type="number" name="meal-carbs" step="0.01" required><br><br>
        <label for="meal-calories">Calorie:</label>
        <input type="number" name="meal-calories" step="0.01" required><br><br>
        <label for="meal-quantity">Quantità:</label>
        <input type="number" name="meal-quantity" step="0.01" required><br><br>
        <button type="button" onclick="removeMeal(this)">Rimuovi Pasto</button><br><br>
    `;
        container.appendChild(mealItem);
    }

    function removeMeal(button) {
        button.parentElement.remove();
    }


</script>


{% endblock %}