{% extends 'base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/diet.css' %}">
<div class="w3-margin-left w3-margin-right">

    <h1>Le tue diete</h1>
    <h4>Seleziona una riga per visualizzare</h4>
    <div class="summary w3-margin-top" style="width: 100%;">
        <table>
            <tr>
                <th>Dieta</th>
                <th>Data Creazione</th>
            </tr>
            {% for d in diete %}
            <tr onclick="showDietaDetails('{{ d.id }}')" style="cursor: pointer;">
                <td>{{ d.nome }}</td>
                <td>{{ d.data|date:"d/m/Y" }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2"><strong>Non ci sono diete registrate per questo paziente.</strong></td>
            </tr>
            {% endfor %}
        </table>
    </div>


    <div class="scroll-pane  w3-margin-left  w3-margin-right"
        style="display:flex;border: 1px solid white; overflow-y: auto; height: 100%; width: 100%; margin-bottom: 5%;">
        <div class="anchor-pane " id="diet" style="width:100%">
            <div id="list-choice-container" class="list-choice hidden">
                <div class="list-choice-title">Scegli un giorno</div>
                <div class="list-choice-objects">
                    <label><input type="radio" name="day" value="Lunedi" onchange="filterPasti(this)" /><span>Lunedi</span></label>
                    <label><input type="radio" name="day" value="Martedi" onchange="filterPasti(this)" /><span>Martedi</span> </label>
                    <label><input type="radio" name="day" value="Mercoledi" onchange="filterPasti(this)" /><span>Mercoledi</span> </label>
                    <label><input type="radio" name="day" value="Giovedi" onchange="filterPasti(this)" /><span>Giovedi</span> </label>
                    <label><input type="radio" name="day" value="Venerdi" onchange="filterPasti(this)" /><span>Venerdi</span> </label>
                    <label><input type="radio" name="day" value="Sabato" onchange="filterPasti(this)" /><span>Sabato</span></label>
                    <label><input type="radio" name="day" value="Domenica" onchange="filterPasti(this)" /><span>Domenica</span> </label>
                </div>
            </div>

            <div id="pasti-content  w3-margin-left  w3-margin-right">
                {% for dieta in diete %}
                <div id="dieta-{{ dieta.id }}" class="dieta-details" style="display: none;">
                    <h2>Dieta: {{ dieta.nome }} - {{ dieta.data|date:"d/m/Y" }}</h2>

                    <!-- Colazione -->
                    <div class="table-wrapper">
                        <table id="breakfast">
                            <caption>Colazione</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'C' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Spuntino Mattutino = A -->
                    <div class="table-wrapper">
                        <table id="spuntino">
                            <caption>Spuntino</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'A' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Pranzo -->
                    <div class="table-wrapper">
                        <table id="lunch">
                            <caption>Pranzo</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'P' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Spuntino Pomeridiano = B -->
                    <div class="table-wrapper">
                        <table id="merenda">
                            <caption>Merenda</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>


                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'B' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <!-- Cena -->
                    <div class="table-wrapper">
                        <table id="dinner">
                            <caption>Cena</caption>
                            <thead>
                                <tr>
                                    <th>Alimento</th>
                                    <th>Grassi</th>
                                    <th>Proteine</th>
                                    <th>Carboidrati</th>
                                    <th>Calorie (kcal)</th>
                                    <th>Quantita (gr)</th>
                                    <th style="display:none;">idp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for pasto in dieta.pasti %}
                                {% if pasto.tipo == 'S' %}
                                <tr class="pasto-row" data-giorno="{{ pasto.giorno }}">
                                    <td>{{ pasto.nome_alimento }}</td>
                                    <td>{{ pasto.grassi }}</td>
                                    <td>{{ pasto.proteine }}</td>
                                    <td>{{ pasto.carboidrati }}</td>
                                    <td>{{ pasto.calorie }}</td>
                                    <td>{{ pasto.quantita }}</td>
                                    <td style="display:none;">{{ pasto.id }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<script>
    function showDietaDetails(dietaId) {
        // Nascondi tutti i dettagli delle diete
        document.querySelectorAll('.dieta-details').forEach(detail => {
            detail.style.display = 'none';
        });

        // Mostra solo i dettagli della dieta selezionata
        document.getElementById(`dieta-${dietaId}`).style.display = 'block';

        // Mostra il list-choice
        document.getElementById('list-choice-container').classList.remove('hidden');
    }

    function filterPasti(selectedRadio) {
        const selectedDay = selectedRadio.value;

        // Mostra/Nascondi le righe in base al giorno selezionato
        document.querySelectorAll('.pasto-row').forEach(row => {
            const rowDay = row.dataset.giorno;
            if (selectedDay === rowDay) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });
    }

    // Opzionale: Mostra i dettagli della prima dieta per impostazione predefinita
    document.addEventListener('DOMContentLoaded', () => {
        const firstRow = document.querySelector('.summary table tr');
        if (firstRow) {
            firstRow.click();
        }
    });

    // Opzionale: Se vuoi che la visualizzazione iniziale mostri solo i pasti del primo giorno disponibile
    document.addEventListener('DOMContentLoaded', () => {
        const firstRadio = document.querySelector('input[name="day"]');
        if (firstRadio) {
            firstRadio.checked = true;
            filterPasti(firstRadio);
        }
    });
</script>

<script>
    function addMeal() {
        const container = document.getElementById('meals-container');
        const mealItem = document.createElement('div');
        mealItem.classList.add('meal-item');
        mealItem.innerHTML = `
        <label for="meal-name">Nome Alimento:</label>
        <input type="text" name="meal-name" required><br><br>
        <label for="meal-type">Tipo di Pasto:</label>
        <select name="meal-type" required>
            <option value="C">Colazione</option>
            <option value="P">Pranzo</option>
            <option value="S">Cena</option>
        </select><br><br>
        <label for="meal-fat">Grassi (g):</label>
        <input type="number" name="meal-fat" step="0.01" required><br><br>
        <label for="meal-protein">Proteine (g):</label>
        <input type="number" name="meal-protein" step="0.01" required><br><br>
        <label for="meal-carbs">Carboidrati (g):</label>
        <input type="number" name="meal-carbs" step="0.01" required><br><br>
        <label for="meal-calories">Calorie:</label>
        <input type="number" name="meal-calories" step="0.01" required><br><br>
        <label for="meal-quantity">Quantità:</label>
        <input type="number" name="meal-quantity" step="0.01" required><br><br>
        <button type="button" onclick="removeMeal(this)">Rimuovi Pasto</button><br><br>
    `;
        container.appendChild(mealItem);
    }

    function removeMeal(button) {
        button.parentElement.remove();
    }


</script>


{% endblock %}