{% extends 'base.html' %}
{% load static %}
{% block title %}
Ricerca medici
{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" href="{% static 'css/doctor.css' %}">

<div class="w3-margin-left">
  <h3> Digita qui il nome del paziente </h3>
  <div class="search-container">
    <input type="text" id="searchInput" placeholder="Cerca i tuoi pazienti..." onkeyup="searchPats()">
  </div>

  <div class="results-container">

    <h2>I tuoi pazienti</h2>
   {% if pazienti_seguiti %}
    <table class="results-table table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Telefono</th>
          <th>Email</th>
          <th>Opzioni</th>
        </tr>
      </thead>
      <tbody id="resultsBody">
        {% for p in pazienti_seguiti %}
        <tr>
          <td>
            <img src="{{ p.utente.foto_profilo.url }}" class="doctor-image">
            {{ p.utente.nome }} {{ p.utente.cognome }} 
          </td>
          <td>{{ p.utente.telefono }}</td>
          <td>{{ p.utente.email }}</td>
          <td class="action-buttons">
            <a href="{% url 'info_paziente' p.utente.id %}"
              class="w3-button w3-green w3-margin-top w3-round-large">Diete e andamento</a>
            <a href="{% url 'rifiuta_richiesta' p.cura_id %}"
              class="w3-button w3-red w3-margin-top w3-round-large">Smetti
              di seguire</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <p>Non segui alcun paziente</p>
{% endif %}

</div>

<script>
  function searchPats() {
    const searchInput = document.getElementById('searchInput').value.toLowerCase();
    const rows = document.querySelectorAll('#resultsBody tr');
    rows.forEach(row => {
      const cells = row.querySelectorAll('td');
      const match = [...cells].some(cell => cell.textContent.toLowerCase().includes(searchInput));
      row.style.display = match ? '' : 'none';
    });
  }

  function requestAppointment(doctorName) {
    alert('Richiesta di appuntamento per ' + doctorName);
  }

  function requestTreatment(doctorName) {
    alert('Richiesta di cura per ' + doctorName);
  }

  function startChat(doctorName) {
    alert('Inizio chat con ' + doctorName);
  }
</script>
{%endblock%}