{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}
{% block title %}
Home
{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/appointment.css' %}">

<div class="flex-container w3-margin-left w3-margin-right">
   {% if user.tipo_utente is False %}

   <div class="w3-container w3-center" style="width: 60%; min-width: 60%">
      <section class="weight-chart w3-margin-bottom w3-center w3-margin-right">
         <h2 class="w3-text-teal w3-cursive w3-center">I tuoi progressi</h2>
         <canvas id="myChart"></canvas>
      </section>
   </div>

   {% endif %}

   <div class="w3-center w3-round-large w3-white w3-twothird">
      <div style="text-align: center; margin-bottom: 10px;">
         <!-- Freccia per mese precedente -->
         <a href="?month={{ month_offset|add:" -1" }}"
            style="display: inline; text-decoration: none; color: black; font-size: 18px; margin-right: 20px;">&#9664;</a>

         <!-- Titolo del mese e anno -->
         <h2 style="display: inline; margin: 0;">{{ first_day_of_month|date:"F Y" }}</h2>

         <!-- Freccia per mese successivo -->
         <a href="?month={{ month_offset|add:" 1" }}"
            style="display: inline; text-decoration: none; color: black; font-size: 18px; margin-left: 20px;">&#9654;</a>
      </div>


      <div id="mini-calendar"
         style="display: grid; grid-template-columns: repeat(7, 1fr); gap: 10px; padding: 10px; background-color: #f8f9fa; border-radius: 5px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
         {% for day in days_range %}
         <div
            style="text-align: center; padding: 5px; background-color: #fff; border-radius: 5px; box-shadow: 0 0 5px rgba(0,0,0,0.1);">
            <strong>{{ day|date:"D" }}</strong><br>
            {{ day|date:"d M" }}
            <div>
               {% for app in appuntamenti %}
               {% if app.data_ora.date == day %}
               {% if user.tipo_utente is False %}
               <span class="dot"></span> Appuntamento con {{ app.Dottore.nome }} {{ app.Dottore.cognome }} alle
               {{ app.data_ora|date:"H:i" }}

               {% elif user.tipo_utente is True %}
               <div class="w3-text-black w3-strong" style=" margin-top: 5px;">
                  <span class="dot"></span> Appuntamento con {{ app.Paziente.nome }} {{ app.Paziente.cognome }} alle
                  {{ app.data_ora|date:"H:i" }}
               </div>
               {% endif %}
               {% endif %}
               {% endfor %}
            </div>
         </div>
         {% endfor %}
      </div>
   </div>

   <style>
      .dot {
         height: 8px;
         width: 8px;
         background-color: red;
         border-radius: 50%;
         display: inline-block;
         margin-right: 5px;
      }
   </style>



</div>

<div class="flex-container w3-padding w3-margin-top">
   <div class="flex-item w3-half w3-card-2 w3-round-large w3-margin-right">
      <h2 class="w3-text-cyan w3-cursive w3-center">I tuoi appuntamenti</h2>
      {% if user.tipo_utente is True %}
      <!-- Contenitore scrollabile -->
      <div class="scrollable-container">
         {% for appointment in appointmentRequests %}
         <div class="appointment-item w3-margin-left w3-margin-bottom">
            {% for appuntamento in appointment.appuntamenti %}
            <div class="appointment-details">
               <strong>{{ appointment.utente.nome }} {{ appointment.utente.cognome }}</strong>
               <div class="appointment-entry">
                  <span class="appointment-info">
                     Data: {{ appuntamento.data_ora|date:"d/m/Y H:i" }}
                  </span>
                  {% if appuntamento.stato == 0 %}
                  <div class="button-container">
                     <a href="{% url 'accetta_appuntamento' appuntamento.id %}" class="w3-button w3-blue">Approva</a>
                     <a href="{% url 'rifiuta_appuntamento' appuntamento.id %}" class="w3-button w3-red">Rifiuta</a>
                  </div>
                  {% elif appuntamento.stato == 1 %}
                  <i class='far fa-check-circle' style='font-size:20px;color:green;' aria-hidden="true"></i>
                  {% with date=appuntamento.data_ora|date:"d/m/Y" time=appuntamento.data_ora|time:"H:i" %}
                  <a href="{% url 'elimina_appuntamento' appuntamento.id %}" class="w3-button w3-blue w3-margin-left"
                     onclick="return confirm('Sei sicuro di voler disdire l\'appuntamento con {{ appointment.utente.nome }} {{ appointment.utente.cognome }} il {{ date }} alle {{ time }}?');">
                     <i class="fas fa-trash-alt" aria-hidden="true"></i> Disdici
                  </a>
                  {% endwith %}
                  {% elif appuntamento.stato == -1 %}
                  <span class="status">Disdetto</span>
                  {% endif %}
               </div>
            </div>

            {% endfor %}
            {% if not forloop.last %}
            <hr class="appointment-separator">
            {% endif %}

         </div>
         {%empty%}
         <p class="w3-center w3-text-black w3-margin-bottom"><strong>Non hai ancora appuntamenti.</strong></p>
         {% endfor %}
      </div>

      {% elif user.tipo_utente is False %}

      <div class="scrollable-container">
         {% for appointment in appointmentRequests %}
         <div class="appointment-item w3-margin-left">
            <strong>Dott. {{ appointment.utente.nome }} {{ appointment.utente.cognome }}</strong>

            <div class="appointment-details">
               {% for appuntamento in appointment.appuntamenti %}
               <div class="appointment-entry">
                  <div class="appointment-info">
                     Data: {{ appuntamento.data_ora|date:"d/m/Y H:i" }}
                  </div>
                  <div>
                     {% if appuntamento.stato == 0 %}
                     {% with formatted_time=appuntamento.data_ora|time:"H:i" %}
                     <button onclick="openModal('{{ appuntamento.id }}', '{{ formatted_time }}')"
                        class="w3-button w3-round-large w3-blue">
                        Modifica orario
                     </button>
                     {% endwith %}
                     <i class='fas fa-hourglass-half' style='font-size:20px;color:orange;' aria-hidden="true"></i>
                     {% elif appuntamento.stato == 1 %}
                     {% with formatted_time=appuntamento.data_ora|time:"H:i" %}
                     <button onclick="openModal('{{ appuntamento.id }}', '{{ formatted_time }}')"
                        class="w3-button w3-round-large w3-blue">
                        Modifica orario
                     </button>
                     {% endwith %}
                     <i class='far fa-check-circle' style='font-size:20px;color:green;' aria-hidden="true"></i>
                     {% elif appuntamento.stato == -1 %}
                     <a href="{% url 'elimina_appuntamento' appuntamento.id %}" class="w3-button w3-blue">
                        Ok
                     </a>
                     <i class='fa fa-times' style='font-size:20px;color:rgb(128, 15, 0);' aria-hidden="true"></i>
                     {% endif %}
                  </div>
               </div>
               {% if not forloop.last %}
               <hr class="appointment-separator">
               {% endif %}
               {% endfor %}

            </div>
         </div>

         {%empty%}
         <p class="w3-center w3-text-black w3-margin-bottom"><strong>Non hai ancora appuntamenti.</strong></p>
         {% endfor %}
      </div>

      {% endif %}
   </div>


   <div class="flex-item w3-half w3-white w3-card-2 w3-round-large">
      <h2 class="w3-text-cyan w3-cursive w3-center">Richieste</h2>
      <ul class="w3-ul w3-padding-small">
         {% if reqPending %}
         {% for req in reqPending %}
         <li class="w3-padding-16">
            <strong>{{ req.utente.nome }} {{ req.utente.cognome }}</strong>
            <br>Email: {{ req.utente.email }}
            <br>Telefono: {{ req.utente.telefono }}
            <br>
            <a href="{% url 'accetta_richiesta' req.cura_id %}" class="w3-button w3-blue w3-margin-top">Approva</a>
            <a href="{% url 'rifiuta_richiesta' req.cura_id %}" class="w3-button w3-red w3-margin-top">Rifiuta</a>
         </li>
         {% endfor %}
         {% else %}
         <p class="w3-center w3-text-black w3-margin-bottom"><strong>Non hai richieste in sospeso.</strong></p>
         {% endif %}
      </ul>
   </div>
</div>

<div id="editTimeModal" class="modal" style="display: none;">
   <div class="modal-content">
      <span onclick="closeModal()" class="close">&times;</span>
      <h2>Modifica orario appuntamento</h2>
      <form id="editTimeForm" action="{% url 'modifica_appuntamento' %}" method="POST">
         {% csrf_token %}
         <label for="appointmentTime">Nuovo orario:</label>
         <select id="ime" name="time" required>
            <option value="">Seleziona un orario</option>
            <!-- Orari popolati dallo script -->
         </select><br><br>
         <input type="hidden" id="appointmentId" name="id">
         <button type="submit" class="w3-btn w3-green w3-round">Salva</button>
      </form>
   </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      populateAvailableTimes();

      const form = document.getElementById('editTimeForm');
      form.addEventListener('submit', function (event) {
         event.preventDefault();

         const timeStr = document.getElementById('ime').value;
         const appointmentId = document.getElementById('appointmentId').value;

         if (timeStr && appointmentId) {
            fetch(`/modifica_appuntamento/`, {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/x-www-form-urlencoded',
                  'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
               },
               body: new URLSearchParams({
                  'time': timeStr,
                  'id': appointmentId
               })
            })
               .then(response => response.json())
               .then(data => {
                  if (data.success) {
                     closeModal();
                     alert('Orario modificato con successo!');
                     window.location.reload();
                  } else {
                     alert('Errore: ' + data.error);
                  }
               })
               .catch(error => {
                  console.error('Errore:', error);
                  alert('Si è verificato un errore durante la modifica dell\'orario.');
               });
         }
      });
   });

   function populateAvailableTimes() {
      const timeSlots = [];
      for (let hour = 8; hour < 18; hour++) { // Ad esempio, orari dalle 8:00 alle 18:00
         for (let minute = 0; minute < 60; minute += 30) {
            const timeString = `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;
            timeSlots.push(timeString);
         }
      }

      const timeSelect = document.getElementById('ime');
      timeSlots.forEach(slot => {
         const option = document.createElement('option');
         option.value = slot;
         option.textContent = slot;
         timeSelect.appendChild(option);
      });
   }

   function openEditTimeModal(appointmentId, currentTime) {
      document.getElementById('appointmentId').value = appointmentId;
      document.getElementById('ime').value = currentTime;
      document.getElementById('editTimeModal').style.display = 'block';
   }

   function closeModal() {
      document.getElementById('editTimeModal').style.display = 'none';
   }

   // Chiudi il modale se l'utente clicca fuori dal modale
   window.onclick = function (event) {
      if (event.target === document.getElementById('editTimeModal')) {
         closeModal();
      }
   };

</script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.28.0/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon"></script>
<script>
   // Logica per il grafico dei progressi del peso
   var datePesate = JSON.parse('{{ date_pesi|escapejs }}');
   var valoriPesate = JSON.parse('{{ valori_pesi|escapejs }}');

   console.log("Date Pesate:", datePesate);
   console.log("Valori Pesate:", valoriPesate);

   var xyValues = [];
   for (var i = 0; i < datePesate.length; i++) {
      xyValues.push({
         x: luxon.DateTime.fromISO(datePesate[i]).toJSDate(),
         y: parseFloat(valoriPesate[i])
      });
   }

   console.log("XY Values:", xyValues);

   new Chart("myChart", {
      type: "scatter",
      data: {
         datasets: [{
            label: 'Peso (kg)',
            pointRadius: 4,
            pointBackgroundColor: "rgb(0,0,255)",
            data: xyValues
         }]
      },
      options: {
         plugins: {
            legend: { display: true }
         },
         scales: {
            x: {
               type: 'time',
               time: {
                  unit: 'day',
                  tooltipFormat: 'dd/MM/yyyy',
                  displayFormats: {
                     day: 'dd/MM/yyyy'
                  }
               },
               title: {
                  display: true,
                  text: 'Data'
               },
               ticks: {
                  autoSkip: true,
                  maxTicksLimit: 12,
                  min: luxon.DateTime.fromISO(datePesate[0]).toJSDate(),
                  max: luxon.DateTime.fromISO(datePesate[datePesate.length - 1]).toJSDate()
               }
            },
            y: {
               beginAtZero: false,
               title: {
                  display: true,
                  text: 'Peso (kg)'
               },
               ticks: {
                  min: Math.min.apply(null, valoriPesate),
                  max: Math.max.apply(null, valoriPesate)
               }
            }
         }
      }
   });
</script>

<script>
   function openModal(id, currentTime) {
      document.getElementById('editTimeModal').style.display = 'block';
      document.getElementById('appointmentId').value = id;
      document.getElementById('appointmentTime').value = currentTime;
   }

   function closeModal() {
      document.getElementById('editTimeModal').style.display = 'none';
   }
</script>

{% endblock %}