{% extends 'base.html' %}
{% load static %}
{% block title %}
Ricerca medici
{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/doctors.css' %}">

<!-- Sezione dottori curanti il paziente -->

<div class="current-doctors-container w3-margin-left w3-margin-right">
    <h2>I tuoi dottori</h2>
    {% if medici_curanti %}
    <table class="results-table table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Indirizzo studio</th>
                <th>Opzioni</th>
            </tr>
        </thead>
        <tbody id="currentDoctorsBody">
            {% for cura in medici_curanti %}
            <tr>
                <td>
                    <img src="{{ cura.idDottore.foto_profilo.url }}" class="doctor-image">
                    {{ cura.idDottore.nome}} {{ cura.idDottore.cognome }}
                </td>
                <td>{{ cura.idDottore.telefono }}</td>
                <td>{{ cura.idDottore.email }}</td>
                <td>
                    {% if cura.idDottore.studio %}
                    Via {{ cura.idDottore.studio.via }} N.{{ cura.idDottore.studio.civico }},
                    {{cura.idDottore.studio.citta }} ({{ cura.idDottore.studio.provincia }})
                    {%else%}
                    Non disponibile
                    {% endif %}
                </td>
                <td class="action-buttons"><button class="appointment-button"
                        onclick="openAppointmentModal('{{ cura.idDottore.id }}')">Richiedi Appuntamento</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%else%}
   <p>Non hai alcun medico che ti segue.</p> 

    {%endif%}
</div>

<div class="search-container w3-margin-left">
    <h3>  Digita qui il nome del medico o la via dello studio</h3>
    <input type="text" id="searchInput" placeholder="Cerca medici..." onkeyup="searchDoctors()" style="width:500px">
</div>


<div class="results-container w3-margin-left  w3-margin-right">
    <table class="results-table table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Indirizzo studio</th>
                <th>Opzioni</th>
            </tr>
        </thead>
        <tbody id="resultsBody">
            {% for doctor in doctors %}
            <tr>
                <td>
                    <img src="{{ doctor.foto_profilo.url }}" class="doctor-image">
                    {{ doctor.nome }} {{ doctor.cognome }}
                </td>
                <td>{{ doctor.telefono }}</td>
                <td>{{ doctor.email }}</td>

                <td>
                    {% if doctor.studio %}
                    Via {{ doctor.studio.via }} N.{{ doctor.studio.civico }}, {{ doctor.studio.citta }}
                    ({{doctor.studio.provincia }})
                    {%else%}
                    Non disponibile
                    {% endif %}
                </td>
                <td class="action-buttons">
                    <button class="appointment-button" onclick="openAppointmentModal('{{ doctor.id }}')">Richiedi
                        Appuntamento</button>
                    <form method="post" action="{% url 'richiesta_cura' doctor.id %}" style="display:inline;">
                        {% csrf_token %}
                        {% if doctor.id in richieste_dottori %}
                        <i class="far fa-check-circle"> </i>
                        {% else %}
                        <button type="submit" class="treatment-button" style="margin-top: 2%;">Richiedi Cura</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<!-- Popup per aggiungere un appuntamento -->

<div id="reqModal" class="w3-modal w3-padding">
    <div class="w3-modal-content w3-padding">
        <span class="w3-close" onclick="document.getElementById('reqModal').style.display='none'">&times;</span>
        <form id="appointmentForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="idDottore" id="hiddenDoctorId">
            <label for="data_ora">Data e ora dell'appuntamento</label>
            <input type="date" id="data_ora_date" name="data_ora_date" required>

            <select id="data_ora_time" name="data_ora_time" required>
                <option value="">Seleziona un orario</option>
                <!-- Opzioni ora popolati dallo script -->
            </select><br><br>
            <div id="errorMessage" class="w3-text-red w3"></div> <!-- Aggiunto per visualizzare gli errori -->
            <button type="submit" class="w3-button w3-green">Richiedi</button>
        </form>
    </div>
</div>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        populateTimeSlots();

        const form = document.getElementById('appointmentForm');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            const dataStr = document.getElementById('data_ora_date').value;
            const timeStr = document.getElementById('data_ora_time').value;
            const doctorId = document.getElementById('hiddenDoctorId').value;
            const errorMessage = document.getElementById('errorMessage');

            if (dataStr && timeStr && doctorId) {
                fetch(`/richiesta_appuntamento/${doctorId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: new URLSearchParams({
                        'data_ora_date': dataStr,
                        'data_ora_time': timeStr
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById('reqModal').style.display = 'none';
                            alert('Appuntamento richiesto con successo!');
                        } else {
                            switch (data.error) {
                                case 'Data e ora non valide':
                                    errorMessage.textContent = 'La data e l\'ora fornite non sono valide. Per favore, verifica e riprova.';
                                    break;
                                case 'Non puoi prenotare un appuntamento per una data passata.':
                                    errorMessage.textContent = 'Non puoi prenotare un appuntamento per una data passata.';
                                    break;
                                case 'Lo slot selezionato non è disponibile.':
                                    errorMessage.textContent = 'Lo slot selezionato non è disponibile. Per favore, scegli un altro orario.';
                                    break;
                                default:
                                    errorMessage.textContent = 'Si è verificato un errore durante la richiesta. Riprova più tardi.';
                                    break;
                            }
                            errorMessage.style.display = 'block'; 
                        }
                    })
                    .catch(error => {
                        console.error('Errore:', error);
                        errorMessage.textContent = 'Si è verificato un errore durante la richiesta. Riprova più tardi.';
                        errorMessage.style.display = 'block'; 
                    });
            } else {
                errorMessage.textContent = 'Per favore, completa tutti i campi richiesti.';
                errorMessage.style.display = 'block'; 
            }
        });
    });


    function populateTimeSlots() {
        const timeSlots = [];
        for (let hour = 8; hour < 18; hour++) {
            for (let minute = 0; minute < 60; minute += 30) {
                const
                    timeString = `${hour.toString().padStart(2, '0')}:${minute.toString().padStart(2, '0')}`;
                timeSlots.push(timeString);
            }
        } const timeSelect = document.getElementById('data_ora_time'); timeSlots.forEach(slot => {
            const option = document.createElement('option');
            option.value = slot;
            option.textContent = slot;
            timeSelect.appendChild(option);
        });
    }

    function searchDoctors() {
        const searchInput = document.getElementById('searchInput').value.toLowerCase();
        const rows = document.querySelectorAll('#resultsBody tr');
        rows.forEach(row => {
            const cells = row.querySelectorAll('td');
            const match = [...cells].some(cell => cell.textContent.toLowerCase().includes(searchInput));
            row.style.display = match ? '' : 'none';
        });
    }

    // Funzione per chiudere il pop-up e nascondere il messaggio di errore
    function closeAppointmentModal() {
        document.getElementById('reqModal').style.display = 'none';
        document.getElementById('errorMessage').style.display = 'none'; // Nasconde il messaggio di errore
        document.getElementById('errorMessage').textContent = ''; // Pulisce il testo del messaggio di errore
    }

    function openAppointmentModal(doctorId) {
        var form = document.getElementById('appointmentForm');
        form.action = `/richiesta_appuntamento/${doctorId}/`;
        document.getElementById('reqModal').style.display = 'block';
        document.getElementById('hiddenDoctorId').value = doctorId;
    }

    window.onclick = function (event) {
        var modals = document.getElementsByClassName('w3-modal');
        for (var i = 0; i < modals.length; i++) {
            if (event.target == modals[i]) {
                modals[i].style.display = "none";
                closeAppointmentModal(); // Chiama la funzione per nascondere il messaggio di errore
            }
        }
    }


</script>
{%endblock %}