{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/x.css' %}">
<div class="container">
    <h1 style="color: black; text-align: center;">Cambia la tua password</h1>
    <form method="post">
        {% csrf_token %}

        <!-- Visualizzazione del form con Crispy Forms -->
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Conferma</button><br>
        <a href="{% url 'login' %}">Torna al login</a>
    </form>
</div>
{% endblock %}