{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/x.css' %}">
<div class="container">
     <div class="header">
        <img src="{% static 'images/images/LOGO_AZZURRO.PNG' %}" class="logo-image">
        <h3 class="title">DietSpace</h3>
    </div>

    {% block content %}
    <div class="crispy-form form-group">

        <form method="post">
            {% csrf_token %} 
           
            {{ form|crispy }}
            
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-success">Registrati ora!</button>
            <a href="{% url 'login' %}" class="btn btn-link">Hai già un account?</a>
        </form>

        {% endblock %}
    </div>
</div>


{% block footer %}
<!-- Puoi aggiungere qui il contenuto del footer se necessario -->
{% endblock %}